.layout-single-default {
    max-width: 48.125rem;
    margin-bottom: 3.125rem;
}

.layout-single-default img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 2rem;
    border-radius: 0.75rem;
}
