{{ $input := . }}


<figure class="highlight-figure" aria-label="Highlight">
    {{- $iconResource := resources.Get $input.icon }}
    {{- $iconPath := "" }}
    {{- if $iconResource }}
        {{- $iconCopy := $iconResource | resources.Copy (printf "media/%s" $input.icon) }}
        {{- $iconPath = $iconCopy.RelPermalink }}
    {{- else }}
        {{- $iconPath = ($input.icon | relURL) }}
    {{- end }}
    {{- if $iconPath }}
        <div class="highlight-figure__image-wrapper">
            <!--    alt="" tells screen readers to skip the image, as it's purely decorative -->
            <img
                class="highlight-figure__image"
                aria-hidden="true"
                src="{{ $iconPath }}"
                alt=""
                {{ if and $iconResource (not (eq $iconResource.MediaType.SubType "svg")) }}
                    width="{{ $iconResource.Width }}" height="{{ $iconResource.Height }}"
                {{ end }} />
        </div>
    {{ end }}
    <figcaption class="highlight-figure__caption">{{ $input.caption }}</figcaption>
</figure>
