{{ $icon := resources.Get "icons/fullscreen.svg" }}
{{ $iconPath := "" }}
{{ if $icon }}
    {{ $iconCopy := $icon | resources.Copy "media/icons/fullscreen.svg" }}
    {{ $iconPath = $iconCopy.RelPermalink }}
{{ end }}


<div class="map-container">
    <iframe
        class="map-container__iframe"
        scrolling="no"
        allowfullscreen
        src="{{ .embeddableMapUrl | htmlUnescape }}"
        title="{{ T "location_page.map_frame" }}"></iframe>

    {{- if and .viewLargerMapUrl $iconPath }}
        <a
            href="{{ .viewLargerMapUrl }}"
            rel="external"
            class="map-container__button"
            aria-label="{{ T "location_page.map_fullscreen" }}">
            <img src="{{ $iconPath | htmlUnescape }}" alt="Fullscreen Icon" width="18" height="18" />
        </a>
    {{- end }}
</div>
