{{ $input := . }}


<ul class="header-menu">
    <li class="header-menu__item">
        <a
            {{- if $input.context.IsHome }}
                class="header-menu__link header-menu__link--active"
            {{- else }}
                class="header-menu__link"
            {{- end }}
            href="{{ site.Home.RelPermalink }}">
            {{ $input.homeLabel | default "Home" }}
        </a>
    </li>

    {{- $currentNode := $input.context }}
    {{- range $input.menu }}
        {{- $isActive := or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}
        <li class="header-menu__item {{ if .HasChildren }}header-menu__item--has-children{{ end }}">
            <a
                href="{{ .URL }}"
                {{- if $isActive }}
                    class="header-menu__link header-menu__link--active" aria-current="page"
                {{- else }}
                    class="header-menu__link"
                {{- end }}
                {{- if .HasChildren }} aria-haspopup="true" {{- end }}>
                {{- or (T (printf "menu.%s" .Identifier)) .Name | safeHTML }}
            </a>

            {{- if .HasChildren }}
                <ul class="header-submenu" aria-label="{{ or (T (printf "menu.%s" .Identifier)) .Name | safeHTML }}">
                    {{- range .Children }}
                        <li class="header-submenu__item">
                            <a
                                href="{{ .URL }}"
                                {{- if or ($currentNode.IsMenuCurrent .Menu .) ($currentNode.HasMenuCurrent .Menu .) }}
                                    class="header-submenu__link header-submenu__link--active" aria-current="page"
                                {{- else }}
                                    class="header-submenu__link"
                                {{- end }}>
                                {{- or (T (printf "menu.%s" .Identifier)) .Name | safeHTML }}
                            </a>
                        </li>
                    {{- end }}
                </ul>
            {{- end }}
        </li>
    {{- end }}
</ul>
