name: Production - Deploy via FTP

on:
  push:
    branches:
      - main
    workflow_dispatch:

jobs:
  deploy-production:
    runs-on: ubuntu-latest
    environment: PROD

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Hugo
        run: |
          wget -O hugo.deb https://github.com/gohugoio/hugo/releases/download/v0.128.0/hugo_extended_0.128.0_linux-amd64.deb
          sudo dpkg -i hugo.deb

      - name: Build Hugo site
        run: hugo --gc --minify

      - name: Deploy to FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.3
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./public
          server-dir: /web/
          protocol: ftp
